

<main>
    <section class="flex-row mid">
        <section>
            <article class="card-info">
                <hgroup>
                    <h3>{{ membre.nom_membre }}</h3>
                    <p>&#9993 : {{ membre.email }}</p>
                </hgroup>
                <div>
                    <p>total nbr of bets-add to table</p>
                    <p>total nbr of encheres-add to table</p>
                </div>
                <a href="{{ path }}login/logout" class="button-text">Logout</a>
            </article>    
        </section>
        <section class="card-profil-encheres">
            <h3>Vos Enchères</h3>
            <div class="flow-thumb">
                {% for enchere in encheres %}
                    <article class="thumb-lot">
                        <div>
                            <picture>
                                <img src="{{ path }}assets/img/public/{{ enchere.image.image_link }}" alt=""  loading="lazy">
                            </picture>
                        </div>
                        <div>
                            <header>
                                <h4>{{ enchere.nom_enchere }}</h4>
                            </header>
                            <div>
                                <div>
                                    <table>
                                        <caption>termine dans</caption>
                                        <thead>
                                            <tr>
                                                <td>05</td>
                                                <td>:23</td>
                                                <td>:02</td>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div>
                                    <p>mise courante</p>
                                    <div class="tag-prix">3,201<span>$</span></div >
                                </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}

            </div>
        </section>
        <section>
            <h3>Créer une Enchère</h3>
            <a href="{{ path }}enchere/create" class="button-text">Créer</a>
        </section>
    </section>
    <footer>
        <div>
            <section>
                <h3>Contactez-nous</h3>
                <p>Adresse: <span>28 rue de l'étampe, Min., USA, 1W3SD3</span></p>
                <p>Téléphone: <span>1-544-432-4222</span></p>
                <p>Email: <span>contact@lordstampee.com</span></p>
            </section>
            <section>
                <h3>Suivez-nous</h3>
                <div>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/facebook.svg" alt="facebook-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/x.svg" alt="x-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/instagram.svg" alt="instagram-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/threads.svg" alt="threads-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/tiktok.svg" alt="tiktok-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/courrier.svg" alt="courrier-icon" loading="lazy"></a>
                </div>
            </section>
            <section>
                <h3>Merci à</h3>
                <img src="{{ path }}assets/icons/external/maisonneuve.svg" alt="maisonneuve-icon" loading="lazy">
                <img src="{{ path }}assets/icons/external/rquebec.svg" alt="rquebec-icon" loading="lazy">
            </section>
        </div>
    </footer>
</main>