
.box-side{
    background-color: var(--colorNeutralL);
    border: var(--borderStd);
    border-radius: .4em;
    box-shadow: 2px 2px var(--colorDark);
    display: flex;
    flex-flow: row wrap;
    gap: var(--gapxs);
    justify-content: space-between;
    padding: var(--gapxs);
}
.box-side span{
    font-size: var(--fontxs);
}
.box-side div:first-of-type{
    flex: 1;
}
.box-side>div:nth-child(3){
    background-color: var(--colorNeutral);
    border: var(--borderStd);
    border-radius: .4em;
    box-shadow: inset 1px 1px var(--colorDark);
    flex:1 1 300px;
    padding: var(--gapxxs);
}
.box-side>div:nth-child(2)>div{
    align-items: center;
    display: flex;
    flex-flow: row;
    gap: var(--gapxs);
}
.box-side>div:nth-child(2)>div:first-of-type{
    justify-content: space-between;
}

/* rythme */
.box-side>div>*+*{
    margin-top: var(--gapxs);
}