
:root{

    /* Palette de couleurs */
    --colorDark: #150D0D;
    --colorLight: #FFFAE9;
    --colorNeutral: #A6A29B;
    --colorNeutralD: #8a8781;
    --colorNeutralL: #d4cfc7;
    --colorMain: #5C95D9;
    --colorMainD: #31557E;
    --colorMainL: #A0CCFF;
    --colorSec: #E84B4B;
    --colorSecD: #9A3131;
    --colorSecL: #FFB7B7;
    --colorComp: #F1D192;
    --colorCompD: #DD960A;
    --colorCompL: #FFF0D3;

    /* Taille de polices */
    --fontxxs: clamp(12px, 1.5vw, 14px);
    --fontText: clamp(16px, 1.75vw, 20px);
    --fontxs: clamp(18px, 2.25vw, 22px);
    --fonts: clamp(20px, 3vw, 28px);
    --fontm: clamp(24px, 3.75vw, 32px);
    --fontl: clamp(32px, 4.75vw, 40px);
    --fontxl: clamp(38px, 6vw, 54px);
    --fontxxl: clamp(50px, 7.5vw, 66px);
    --fontHuge: clamp(60px, 9.25vw, 96px);
    --fontHuger: clamp(72px, 11.5vw, 120px);

    /* Espacement */
    --gap: clamp(20px, 3vw, 28px);
    --gapS: clamp(6px, 1.5vw, 14px);
}