

<form action="#" method="post">
    <label>Nom de l'enchère 
        <input type="text" name="enchere_nom">
    </label>
    <label>Date de début
        <input type="date" name="date_debut" required>
    </label>
    <label>Date de fin
        <input type="date" name="date_fin" required>
    </label>
    <label>Prix de départ
        <input type="text" name="prix_plancher" required>
    </label>
    <div>Ajouter un timbre
        <button data-js-ajout="timbre" class="btn-rond">+</button>
        <div>
            <!-- timbres here -->
        </div>
    </div>
    <input type="submit" value="Soumettre l'encan">
</form>

<div data-js-timbres>

</div>