
<main>
    <section class="accueil"> 
        <!-- entête -->
        <header>
            <p>Bienvenue sur</p>
            <h2>STAMPEE</h2>
            <p><small>Le portail où trouver vos timbres</small></p>
        </header>

        <img src="{{ path }}assets/shapes/edge.svg" alt="railway edge" loading="lazy">

      <!-- carousel -->
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">

          <!-- premier slide -->
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption">
                <h2>Entrez voir les encans!</h2>
                <p>Visitez nos collections de timbres et plus encore</p>
                <a href="{{ path }}enchere" class="button-text">entrez-voir!</a>
              </div>
            </div>
            <img src="https://i.pinimg.com/736x/1e/eb/36/1eeb367f3b7b83e83d717aec61171cea.jpg" alt="">
          </div>

          <div class="carousel-item">
            <img src="https://i.pinimg.com/736x/f0/55/10/f05510ce53532eed0052d4128983eae4.jpg" alt="">
            <div class="container">
              <div class="carousel-caption">
                <h2>Stampee chez les soviets.</h2>
                <p>Les collections slaviques font un retour, faites un saut dans l'histoire de ce glorieux empire.</p>
                <a class="button-text var-main" href="{{ path }}enchere">entrez-voir!</a>
              </div>
            </div>
          </div>

          <div class="carousel-item active">
            <img src="https://i.pinimg.com/736x/8b/fe/df/8bfedfd0ecd4be9abfad3a127ad43f9b.jpg" alt="">
            <div class="container">
              <div class="carousel-caption text-end">
                <h2>L'Appel des îles!</h2>
                <p>L'encan tant attendu du lot <strong>collection tropicale</strong> est en cours! Faites vites si vous tenez à passer un été chaud sous les tropiques.</p>
                <a class="button-text" href="{{ path }}enchere">Venez miser!</a>
              </div>
            </div>
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        </div>

        <img src="{{ path }}assets/shapes/edge.svg" alt="railway edge" loading="lazy">

        <section>
            <div>
                <section>
                    <a href="{{ path }}enchere"><h3>Catalogue</h3></a>
                    <p>Consultez notre page d'enchères et trouvez tout les timbres pour remplir votre collection!</p>
                    <a href="{{ path }}enchere" class="button-text">voir les enchères</a>
                </section>
                <section>
                    <a href="{{ path }}login"><h3>Votre Stampee</h3></a>
                    <p>Il est nécessaire d'avoir un compte pour miser sur les encans. C'est rapide et sécuritaire, faites le maintenant!</p>
                    <a href="{{ path }}login" class="button-text var-main">inscrivez-vous</a>
                </section>
            </div>
        </section>

    </section>

    <!-- footer -->
    <footer>
        <div>
            <section>
                <h3>Contactez-nous</h3>
                <p>Adresse: <span>28 rue de l'étampe, Min., USA, 1W3SD3</span></p>
                <p>Téléphone: <span>1-544-432-4222</span></p>
                <p>Email: <span>contact@lordstampee.com</span></p>
            </section>
            <section>
                <h3>Suivez-nous</h3>
                <div>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/facebook.svg" alt="facebook-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/x.svg" alt="x-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/instagram.svg" alt="instagram-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/threads.svg" alt="threads-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/tiktok.svg" alt="tiktok-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/courrier.svg" alt="courrier-icon" loading="lazy"></a>
                </div>
            </section>
            <section>
                <h3>Merci à</h3>
                <img src="{{ path }}assets/icons/external/maisonneuve.svg" alt="maisonneuve-icon" loading="lazy">
                <img src="{{ path }}assets/icons/external/rquebec.svg" alt="rquebec-icon" loading="lazy">
            </section>
        </div>
    </footer>
</main>