

<main>
    <section class="flow-form">
        {% if error %} 
        <p class="error">{{ error }}</p>
        {% endif %}
        {% if success %} 
        <p class="success">{{ success }}</p>
        {% endif %}

        <section class="form">

            <h2>Login</h2>
            <form action="{{ path }}login/auth" method="post">
                <label>Email: 
                    <input type="email" name="email" required>
                </label>
                <label>Password:
                    <input type="password" name="password" required>
                </label>
                <input type="submit" value="login" class="button-text">
            </form>
        </section>
        <article>
            <div>
                <p>Vous n'avez pas de compte?</p>
                <p>S'inscrire est facile et sécuritaire.</p>
            </div>
            <a href="{{ path }}membre/create" class="button-text var-neutral">S'inscrire</a>
        </article>
    </section>
    <!-- footer -->
    <footer>
        <div>
            <section>
                <h3>Contactez-nous</h3>
                <p>Adresse: <span>28 rue de l'étampe, Min., USA, 1W3SD3</span></p>
                <p>Téléphone: <span>1-544-432-4222</span></p>
                <p>Email: <span>contact@lordstampee.com</span></p>
            </section>
            <section>
                <h3>Suivez-nous</h3>
                <div>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/facebook.svg" alt="facebook-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/x.svg" alt="x-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/instagram.svg" alt="instagram-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/threads.svg" alt="threads-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/tiktok.svg" alt="tiktok-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/courrier.svg" alt="courrier-icon" loading="lazy"></a>
                </div>
            </section>
            <section>
                <h3>Merci à</h3>
                <img src="{{ path }}assets/icons/external/maisonneuve.svg" alt="maisonneuve-icon" loading="lazy">
                <img src="{{ path }}assets/icons/external/rquebec.svg" alt="rquebec-icon" loading="lazy">
            </section>
        </div>
    </footer>
</main>
    