

<main>
{% if error %} 
    <p class="error">{{ error }}</p>
{% endif %}
    <section>
        <h2>Créer une enchère</h2>
        <div>
            <form action="{{ path }}enchere/store" method="post" class="form-enchere">
                <div class="form var-neutralD">
                    <h3>Votre enchère</h3>
                    <div class="flex-row">
                        <div>
                            <label>Nom
                                <input type="text" name="enchere[nom_enchere]" value="{{ enchere.nom_enchere }}">
                                <span class="error">{{ errors.nom_enchere }}</span>
                            </label>
                            <label>Description
                                <input type="text" name="enchere[description]" value="{{ enchere.descrition }}">
                                <span class="error">{{ errors.description }}</span>
                            </label>
                            <label>Prix de départ
                                <div><input type="number" min="10" step="0.50" value="10.00" name="enchere[prix_plancher]" required/><span>$</span></div>
                                <span>{{ errors.prix_plancher }}</span>
                            </label>
                        </div>
                        <div>
                            <label>Date de début
                                <input type="date" name="enchere[date_debut]" min="{{ date }}" required>
                                <span class="error">{{ errors.date_debut }}</span>
                            </label>
                            <label>Date de fin
                                <input type="date" name="enchere[date_fin]" min="{{ date }}" required>
                                <span class="error">{{ errors.date_fin }}</span>
                            </label>
                        </div>
                    </div>
                </div>
    
                <div class="form">
                    <h3>Timbre</h3>
                    <div class="flex-row">
                        <div>
                            <label>Nom
                                <input type="text" name="timbre[nom_timbre]]" value="{{ timbre.nom_timbre }}" required>
                                <span class="error">{{ errors.nom_timbre }}</span>
                            </label>
                            <label>Date de création
                                <input type="date" name="timbre[date_creation]" min="1840-01-01" required>
                                <span class="error">{{ errors.date_creation }}</span>
                            </label>
                            <label>Pays d'origine
                                <input type="text" name="timbre[pays_origine]" value="{{ timbre.pays_origine }}" required>
                                <span class="error">{{ errors.pays_origine }}</span>
                            </label>
                            <label>Est-il certifié?
                                <select name="timbre[certifie]" required>
                                    <option value="0">non</option>
                                    <option value="1">oui</option>
                                </select>
                            </label>
                        </div>
                        <div>
                            <label>Tirage
                                <input type="text" name="timbre[tirage]" value="{{ timbre.tirage }}">
                                <span class="error">{{ errors.tirage }}</span>
                            </label>
                            <label>Dimensions
                                <input type="text" name="timbre[dimensions]" value="{{ timbre.simensions }}">
                                <span class="error">{{ errors.tirage }}</span>
                            </label>
                            <label>Images: 
                                <input type="file" accept="image/*" name="timbre[images]" multiple>
                                <span class="error">{{ errors.images }}</span>
                            </label>
                            <label>Condition:
                                <select name="timbre[condition_id]">
                                    {% for condition in conditions %}
                                        <option value="{{ condition.id }}">{{ condition.condition}}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="membre_id" value="{{ session.id }}">
                <input type="submit" value="create" class="button-text">
           </form>
        </div>
        
    </section>
    <footer>
        <div>
            <section>
                <h3>Contactez-nous</h3>
                <p>Adresse: <span>28 rue de l'étampe, Min., USA, 1W3SD3</span></p>
                <p>Téléphone: <span>1-544-432-4222</span></p>
                <p>Email: <span>contact@lordstampee.com</span></p>
            </section>
            <section>
                <h3>Suivez-nous</h3>
                <div>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/facebook.svg" alt="facebook-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/x.svg" alt="x-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/instagram.svg" alt="instagram-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/threads.svg" alt="threads-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/tiktok.svg" alt="tiktok-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/courrier.svg" alt="courrier-icon" loading="lazy"></a>
                </div>
            </section>
            <section>
                <h3>Merci à</h3>
                <img src="{{ path }}assets/icons/external/maisonneuve.svg" alt="maisonneuve-icon" loading="lazy">
                <img src="{{ path }}assets/icons/external/rquebec.svg" alt="rquebec-icon" loading="lazy">
            </section>
        </div>
    </footer>
</main>