

<main>
    <section class="flow-form">
{% if error %} 
    <p class="error">{{ error }}</p>
{% endif %}
    <section >
        <h2>Créer une enchère</h2>
        <form action="{{ path }}enchere/store" method="post" >
            <div class="form">
                <h3></h3>
                <label>Nom
                    <input type="text" name="nom_enchere" value="{{ enchere.nom_enchere }}" required>
                    <span class="error">{{ errors.nom_enchere }}</span>
                </label>
                <label>Prix de départ
                    <div><input type="number" min="10" step="0.50" value="10.00" name="prix_plancher" required/><span>$</span></div>
                    <span>{{ errors.prix_plancher }}</span>
                </label>
                <label>Date de début
                    <input type="date" name="date_debut" required>
                    <span class="error">{{ errors.date_debut }}</span>
                </label>
                <label>Date de fin
                    <input type="date" name="date_fin" required>
                    <span class="error">{{ errors.date_fin }}</span>
                </label>
            </div>
            <div class="form">
                <h3>Timbre</h3>
                <label>Nom
                    <input type="text" name="nom_timbre" value="{{ timbre.nom_timbre }}" required>
                    <span class="error">{{ errors.nom_timbre }}</span>
                </label>
                <label>Date de création
                    <input type="date" name="date_creation" required>
                    <span class="error">{{ errors.date_creation }}</span>
                </label>
                <label>Pays d'origine
                    <input type="text" name="pays_origine" value="{{ timbre.pays_origine }}" required>
                    <span class="error">{{ errors.pays_origine }}</span>
                </label>
                <label>Est-il certifié?
                    <select name="certifie" required>
                        <option value="0">non</option>
                        <option value="1">oui</option>
                    </select>
                </label>
                <label>Tirage
                    <input type="text" name="tirage" value="{{ timbre.tirage }}">
                    <span class="error">{{ errors.tirage }}</span>
                </label>
                <label>Dimensions
                    <input type="text" name="tirage" value="{{ timbre.tirage }}">
                    <span class="error">{{ errors.tirage }}</span>
                </label>

                <input type="hidden" name="privilege_id" value="3">
                <input type="submit" value="create" class="button-text">
            </div>
       </form>
    </section>
</section>
    <footer>
        <div>
            <section>
                <h3>Contactez-nous</h3>
                <p>Adresse: <span>28 rue de l'étampe, Min., USA, 1W3SD3</span></p>
                <p>Téléphone: <span>1-544-432-4222</span></p>
                <p>Email: <span>contact@lordstampee.com</span></p>
            </section>
            <section>
                <h3>Suivez-nous</h3>
                <div>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/facebook.svg" alt="facebook-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/x.svg" alt="x-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/instagram.svg" alt="instagram-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/threads.svg" alt="threads-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/tiktok.svg" alt="tiktok-icon" loading="lazy"></a>
                    <a href="#" target="_blank"><img src="{{ path }}assets/icons/external/courrier.svg" alt="courrier-icon" loading="lazy"></a>
                </div>
            </section>
            <section>
                <h3>Merci à</h3>
                <img src="{{ path }}assets/icons/external/maisonneuve.svg" alt="maisonneuve-icon" loading="lazy">
                <img src="{{ path }}assets/icons/external/rquebec.svg" alt="rquebec-icon" loading="lazy">
            </section>
        </div>
    </footer>
</main>