<div class="modal-cover non-exist" data-js-modal="cover">
    <div class="modal-image non-exist" data-js-modal="img">
        <div><button class="button-icon exit"><img src="./assets/shapes/exit.svg" alt="bouton exit" data-js-trigger="exit" loading="lazy"></button></div>
        <picture>
            <img src="./assets/img/stamp_whale.jpg" alt="stamp-whale" data-js-img loading="lazy">
        </picture>
        <div data-js-pagination><img src="./assets/shapes/pagination.svg" alt="pagination" loading="lazy"></div>
    </div>
    <div class="recherche-filtre-modal">

    </div>

    <div class="menu-modal">
        
    </div>
    <div data-js-modal="mise" class="non-exist">

    </div>
</div>
<main>

<header class="entete">
    <div>
        <h2>Les enchères</h2>
        <div>
            <p>Le portail où trouver les meilleurs timbres</p>
            <img src="./assets/shapes/edge.svg" alt="railway edge">
        </div>
    </div>
    <aside><img src="./assets/shapes/train.svg" alt="train"></aside>
</header>

<!-- nav icon -->
<aside class="navigation-icon">
    <button><img src="./assets/shapes/nav-icon/magnifier.svg" alt="recherche" loading="lazy"></button>
    <button><img src="./assets/shapes/nav-icon/burger.svg" alt="menu" loading="lazy"></button>
    <button><img src="./assets/shapes/nav-icon/profileS.svg" alt="profil" loading="lazy"></button>
</aside>

<!-- section enchère -->
<section class="section-enchere">
    <!-- nav enchère -->
    <nav class="navigation-enchere">
        <div>
            <a href="{{ path }}enchere{% if order != "date" %}?order={{order}}{% endif %}" 
            class="{{ status == "en_cours" ? "selected" : ""}}">
                En cours
            </a>
            <a href="{{ path }}enchere?status=a_venir{% if order != "date" %}&order={{order}}{% endif %}"
            class="{{ status == "a_venir" ? "selected" : ""}}">
                À venir
            </a>
            <a href="{{ path }}enchere?status=passe{% if order != "date" %}&order={{order}}{% endif %}"
            class="{{ status == "passe" ? "selected" : ""}}">
                Passé
            </a>
            <a href="{{ path }}enchere?status=tous{% if order != "date" %}&order={{order}}{% endif %}"
            class="{{ status == "tous" ? "selected" : ""}}">
                Tous
            </a>
        </div>
        <div>
            <h4>Classer par: </h4>
            <a href="{{ path }}enchere{% if status != "en_cours" %}?status={{status}}{% endif %}" 
            class="{{ order == "date" ? "selected" : ""}}">
                Date
            </a>
            <a href="{{ path }}enchere?order=max_mise{% if status != "en_cours" %}&status={{status}}{% endif %}"
            class="{{  order == "max_mise" ? "selected" : ""}}">
                Prix
            </a>
            <a href="{{ path }}enchere?order=nbr_mise{% if status != "en_cours" %}&status={{status}}{% endif %}"
            class="{{  order == "nbr_mise" ? "selected" : ""}}">
                Nbr. de mises
            </a>
        </div>
    </nav>

    <!-- section enchère et filtres -->
    <div>

        <div>
            <!-- box-filter -->
            <aside class="box-filter" data-js-boxFilter>
                <header>
                    <h2>Filtres</h2>
                    <span data-js-trigger="open-filtre" class="inverse">&#709;</span>
                </header> 
                <form action="{{ path }}enchere" method="get">
                {% if status != "en_cours" %}
                    <input type="hidden" name="status" value="{{ status }}">
                {% endif %}
                {% if order != "date" %}
                    <input type="hidden" name="order" value="{{ order }}">
                {% endif %}
                    <!-- les filtres et sous-filtres -->
                    <section>
                        <div>
                            <div>
                                <h3>Condition</h3>
                            </div>
                            <div data-js-subfiltre>
                                <label>mint
                                    <input type="checkbox" name="filtre[conditions][1]" value="1"
                                    {{ filtre.conditions.1 ? "checked" : ""}}>
                                </label>
                                <label>mint-1
                                    <input type="checkbox" name="filtre[conditions][2]" value="2"
                                    {{ filtre.conditions.2 ? "checked" : ""}}>
                                </label>
                                <label>mint-2
                                    <input type="checkbox" name="filtre[conditions][3]" value="3"
                                    {{ filtre.conditions.3 ? "checked" : ""}}>
                                </label>
                                <label>used
                                    <input type="checkbox" name="filtre[conditions][4]" value="4"
                                    {{ filtre.conditions.4 ? "checked" : ""}}>
                                </label>
                                <label>ripped
                                    <input type="checkbox" name="filtre[conditions][5]" value="5"
                                    {{ filtre.conditions.5 ? "checked" : ""}}>
                                </label>
                            </div>
                        </div>

                        <div>
                            <div>
                                <h3>Année</h3>
                            </div>
                            <div data-js-subfiltre>
                                <label>de
                                    <input type="number" name="filtre[min]" value="{{ filtre.min }}">
                                </label>
                                <label>à
                                    <input type="number" name="filtre[max]" value="{{ filtre.max }}">
                                </label>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Catégories</h3>
                            </div>
                            <div data-js-subfiltre>
                               <h3>À venir</h3>
                            </div>
                        </div>

                    </section>
                    
                    <!-- les boutons et config -->
                    <section>
                        <aside>
                            <a href="{{ path }}enchere?{% if order != "date" %}order={{order}}&{% endif %}{% if status != "en_cours" %}status={{status}}{% endif %}"
                            class="button-filter var-tri" data-js-trigger="reset">reset</a>
                            <button class="button-filter var-tri">info</button>
                        </aside>
                        <button class="button-filter var-main var-lrg">GO</button>
                    </section>
                    {% if session.fingerprint %}
                        <section>
                            <h3>Mes filtres</h3>
                            <div>
                                <input type="checkbox" name="filtre[favori]" value="1" id="favori" 
                                {{ filtre.favori ? "checked" : ""}}>
                                <label for="favori">mes favoris</label>
                            </div>
                            <div>
                                <input type="checkbox" name="filtre[mises]" value="1" id="mise" 
                                {{ filtre.mise ? "checked" : ""}}>
                                <label for="mise">mes mises</label>
                            </div>
                        </section>
                    {% endif %}

                </form>
            </aside>                  
        </div>

        <!-- flow-lot -->
        <section class="flow-lot">

            <!-- card-lots -->
            {% for enchere in encheres %}

            <article class="card-lot {{ enchere.favori or enchere.meneur or enchere.mise ? "tag favori" : ""}}" data-js-stamp data-js-membre="{{ enchere.membre_id }}">
                <div>
                {% if enchere.meneur %}
                    <div class="meneur">
                        <p>meneur 👑</p>
                    </div>
                {% endif %}
                {% if enchere.favori %}
                    <div class="favori">
                        <p>favori 💕</p>
                    </div>
                {% endif %}
                {% if enchere.mise %}
                <div class="mise">
                    <p>misé <img src="./assets/shapes/mise.svg" alt="mise" title="nombre de mises" loading="lazy"></p>
                </div>
            {% endif %}
                </div>

                <section>

                    <div>
                        {% if enchere.coups_de_coeur %}
                        <div class="coups-de-coeur">
                            <h3>Coups de coeur du Lord</h3>
                            <figure><img src="{{ path }}assets/icons/heart.svg" alt=""></figure>
                        </div>
                        {% endif %}
                        <header>
                            <p>Lot {{ enchere.id }} : {{ enchere.nom_enchere }}</p>
                            <a href="{{ path }}enchere/show?id={{ enchere.id }}" data-js-id="{{ enchere.id }}"><h3>{{ enchere.timbre.nom_timbre }}</h3></a>
                            <strong>{{ enchere.timbre.date_creation }} - {{ enchere.timbre.pays_origine }}</strong>
                        </header>
                        <div>
                            <p>{{ enchere.description }}</p>
                        </div>

                    </div>
                    <div>
                        <p>condition: <strong>{{ enchere.timbre.condition.condition}}</strong></p>
                        <p>étampé: <strong>{{ enchere.timbre.certifie ? 'oui' : 'non'}}</strong></p>
                        <a class="button-text var-neutralL" href="{{ path }}enchere/show?id={{ enchere.id }}">voir plus</a>
                        <button class="button-text var-neutralL">vendeur</button>
                        <span>👁 345</span>
                        <span><img src="./assets/shapes/mise.svg" alt="mise" title="nombre de mises" loading="lazy">{{ enchere.nbr_mise }}</span>
                    </div>
                    <div>
                        <img src="{{ path }}assets/img/public/{{ enchere.image_princ.image_link }}"data-js-image>
                    </div>
                </section>
                <section>
                    <div>
                        <div>
                            <button class="button-icon bell light" aria-label="alert-button"><picture><img src="./assets/icons/bell.svg" alt="" loading="lazy"></picture></button>

                            <!-- button favori -->

                            <a 
                            {% if enchere.favori %}
                                href="{{ path }}favori/deleteFavorite?enchereId={{ enchere.id }}" 
                            {% else %}
                                href="{{ path }}favori/addFavorite?enchereId={{ enchere.id }}" 
                            {% endif %}
                            class="button-icon heart light {{ enchere.favori ? "active" : ""}}" 
                            aria-label="like-button">
                                <picture><img src="./assets/icons/heart.svg" alt="" loading="lazy"></picture>
                            </a>

                            <button class="button-icon light" aria-label="star-button"><picture><img src="./assets/icons/star.svg" alt="" loading="lazy"></picture></button>
                        </div>
                        {% if enchere.status == "a_venir" %}
                            <button class="button-miser block var-blue">
                                À venir
                            </button>
                        {% endif %}
                        {% if enchere.status == "passe" %}
                        <button class="button-miser block var-blue inactive">
                            Passé
                        </button>
                        {% endif %}
                        {% if enchere.status == "en_cours" %}
                            <button class="button-miser" data-js-miser
                            data-js-membre="{{ enchere.membre_id }}"  
                            data-js-id="{{ enchere.id }}"  
                            data-js-mise="{{ enchere.max_mise }}" 
                            {{ enchere.meneur ? "data-js-meneur" : ""}}>
                                miser
                            </button>
                        {% endif %}
                        
                    </div>
                    <div>
                        <div>
                            {% if enchere.status == "passe" %}
                            <h3>TERMINÉ</h3>
                            {% else %}
                            <table>
                                <caption>
                                    {{ enchere.status == "en_cours" ? "termine dans" : "commence dans" }}
                                </caption>
                                <thead>
                                    <tr>
                                        <td><strong>{{ enchere.date_diff.d }}/</strong></td>
                                        <td>{{ enchere.date_diff.h }}:</td>
                                        <td>{{ enchere.date_diff.i }}</td>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>j</td>
                                    <td>h</td>
                                    <td>m</td>
                                </tr>
                            </table>
                            {% endif %}
                        </div>
                        <div>
                            <p>{{ enchere.status == "passe" ? "mise finale" : "mise courante"}}</p>
                            <div class="tag-prix" data-js-mise="{{ enchere.max_mise }}">{{ enchere.max_mise }}<span>$</span></div>
                        </div>
                    </div>
                </section>
            </article>
            
            {% endfor %}


        </section>
        
    </div>

    <!-- bouton pour charger plus d'enchères  -->
    <button class="button-text var-main var-lrg">voir plus</button>

</section>

<!-- section bas de page -->
<div>
    <section>
        <article class="card-join">
            <header>
                <h2>Joignez vous au club!</h2>
                <p>Être membre du club Stampee donne un accès privilégiés sur les enchères et plus encore!</p>
                <a href="#" class="button-text var-lrg">Joindre</a>
            </header>
            <picture>
                <img src="./assets/shapes/postal-stamp.svg" alt="postal stamp" loading="lazy">
            </picture>
        </article>
        <article>
            <div>
                <h3>Vous ne trouvez pas ce que vous cherchez?</h3>
                <p>faites une <a href="#">Recherche</a></p>
            </div>
            <div>
                <h3>Vous voulez en savoir plus sur la philatélie?</h3>
                <p>visitez notre page <a href="#">Actualités</a></p>
            </div>
            <div>
                <h3>Vous désirez en apprendre plus sur le fondateur?</h3>
                <p>lisez la bio de <a href="#">Lord Stampee</a></p>
            </div>
        </article>
    </section>
</div>

<!-- footer -->
<footer>
    <div>
        <section>
            <h3>Contactez-nous</h3>
            <p>Adresse: <span>28 rue de l'étampe, Min., USA, 1W3SD3</span></p>
            <p>Téléphone: <span>1-544-432-4222</span></p>
            <p>Email: <span>contact@lordstampee.com</span></p>
        </section>
        <section>
            <h3>Suivez-nous</h3>
            <div>
                <a href="#" target="_blank"><img src="./assets/icons/external/facebook.svg" alt="facebook-icon" loading="lazy"></a>
                <a href="#" target="_blank"><img src="./assets/icons/external/x.svg" alt="x-icon" loading="lazy"></a>
                <a href="#" target="_blank"><img src="./assets/icons/external/instagram.svg" alt="instagram-icon" loading="lazy"></a>
                <a href="#" target="_blank"><img src="./assets/icons/external/threads.svg" alt="threads-icon" loading="lazy"></a>
                <a href="#" target="_blank"><img src="./assets/icons/external/tiktok.svg" alt="tiktok-icon" loading="lazy"></a>
                <a href="#" target="_blank"><img src="./assets/icons/external/courrier.svg" alt="courrier-icon" loading="lazy"></a>
            </div>
        </section>
        <section>
            <h3>Merci à</h3>
            <img src="./assets/icons/external/maisonneuve.svg" alt="maisonneuve-icon" loading="lazy">
            <img src="./assets/icons/external/rquebec.svg" alt="rquebec-icon" loading="lazy">
        </section>
    </div>

</footer>
</main>