<div class="modal-cover non-exist" data-js-modal="cover">
    <div class="modal-image non-exist" data-js-modal="img">
        <div><button class="button-icon exit"><img src="./assets/shapes/exit.svg" alt="bouton exit" data-js-trigger="exit" loading="lazy"></button></div>
        <picture>
            <img src="./assets/img/stamp_whale.jpg" alt="stamp-whale" data-js-img loading="lazy">
        </picture>
        <div data-js-pagination><img src="./assets/shapes/pagination.svg" alt="pagination" loading="lazy"></div>
    </div>
    <div class="recherche-filtre-modal">

    </div>

    <div class="menu-modal">
        
    </div>
    <div data-js-modal="mise" class="non-exist">

    </div>
</div>
<main>

<header class="entete">
    <div>
        <h2>Les enchères</h2>
        <div>
            <p>Le portail où trouver les meilleurs timbres</p>
            <img src="./assets/shapes/edge.svg" alt="railway edge">
        </div>
    </div>
    <aside><img src="./assets/shapes/train.svg" alt="train"></aside>
</header>

<!-- nav icon -->
<aside class="navigation-icon">
    <button><img src="./assets/shapes/nav-icon/magnifier.svg" alt="recherche" loading="lazy"></button>
    <button><img src="./assets/shapes/nav-icon/burger.svg" alt="menu" loading="lazy"></button>
    <button><img src="./assets/shapes/nav-icon/profileS.svg" alt="profil" loading="lazy"></button>
</aside>

<!-- section enchère -->
<section class="section-enchere">

    <!-- nav enchère -->
    <nav class="navigation-enchere">
        <div>
            <a href="{{ path }}enchere" 
            class="{{ status == "en_cours" ? "selected" : ""}}">
                En cours
            </a>
            <a href="{{ path }}enchere?status=a_venir"
            class="{{ status == "a_venir" ? "selected" : ""}}">
                À venir
            </a>
            <a href="{{ path }}enchere?status=passe"
            class="{{ status == "passe" ? "selected" : ""}}">
                Passé
            </a>
            <a href="{{ path }}enchere?status=tous"
            class="{{ status == "tous" ? "selected" : ""}}">
                Tous
            </a>
        </div>
        <div>
            <h4>Classer par: </h4>
            <button>Date</button>
            <button>Prix</button>
            <button>Nbr. de mises</button>
        </div>
    </nav>

    <!-- section enchère et filtres -->
    <div>

        <div>
            <!-- box-filter -->
            <aside class="box-filter" data-js-boxFilter>
                <header>
                    <h2>Filtres</h2>
                    <span data-js-trigger="open-filtre" class="inverse">&#709;</span>
                </header> 
                <form>
                    <!-- les filtres et sous-filtres -->
                    <section>
                        <div data-js-filtre="fauna">
                            <div>
                                <div>
                                    <input type="checkbox" name="fauna" value="1" id="fauna">
                                    <label for="fauna">fauna</label>
                                </div>
                                <span data-js-trigger="open-filtre">&#709;</span>
                            </div>
                            <div data-js-subfiltre class="non-exist">
                                <div>
                                    <input type="checkbox" name="mammifère" value="1" id="mammifère">
                                    <label for="mammifère">mammifère</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="insecte" value="1" id="insecte">
                                    <label for="insecte">insecte</label>
                                </div>
                            </div>
                        </div>

                        <div data-js-filtre="flora">
                            <div>
                                <div>
                                    <input type="checkbox" name="flora" value="1" id="flora">
                                    <label for="flora">flora</label>
                                </div>
                                <span data-js-trigger="open-filtre">&#709;</span>
                            </div>
                        
                            <div data-js-subfiltre class="non-exist">
                                <div>
                                    <input type="checkbox" name="arbres" value="1" id="arbres">
                                    <label for="arbres">arbres</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="fleurs" value="1" id="fleurs">
                                    <label for="fleurs">fleurs</label>
                                </div>
                            </div>
                        </div>

                        <div data-js-filtre="paysage">
                            <div>
                                <div>
                                    <input type="checkbox" name="paysage" value="1" id="paysage">
                                    <label for="paysage">paysage</label>
                                </div>
                                <span data-js-trigger="open-filtre">&#709;</span>
                            </div>
                            <div data-js-subfiltre class="non-exist">
                                <div>
                                    <input type="checkbox" name="montagne" value="1" id="montagne">
                                    <label for="montagne">montagne</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="urbain" value="1" id="urbain">
                                    <label for="urbain">urbain</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="rural" value="1" id="rural">
                                    <label for="rural">rural</label>
                                </div>
                            </div>
                        </div>

                        <div data-js-filtre="personnalite">
                            <div>
                                <div>
                                    <input type="checkbox" name="personnalite" value="1" id="personnalite">
                                    <label for="personnalite">personnalité</label>
                                </div>
                                <span data-js-trigger="open-filtre">&#709;</span>
                            </div>
                            <div data-js-subfiltre class="non-exist">
                                <div>
                                    <input type="checkbox" name="rois-et-reines" value="1" id="rois-et-reines">
                                    <label for="rois-et-reines">rois et reines</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="star-du-cinema" value="1" id="star-du-cinema">
                                    <label for="star-du-cinema">star du cinema</label>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                    <!-- les boutons et config -->
                    <section>
                        <aside>
                            <button class="button-filter var-tri" data-js-trigger="reset">reset</button>
                            <button class="button-filter var-tri">info</button>
                        </aside>
                        <button class="button-filter var-main var-lrg">GO</button>
                    </section>

                    <!-- les filtres perso -->
                    <section>
                        <h3>Mes filtres</h3>
                        <div>
                            <input type="checkbox" name="categorie1" value="1" id="categorie1">
                            <label for="categorie1">catégorie 1</label>
                        </div>
                        
                        <div>
                            <input type="checkbox" name="categorie2" value="1" id="categorie2">
                            <label for="categorie2">catégorie 2</label>
                        </div>
                                                        
                        <div>
                            <input type="checkbox" name="mesMises" value="1" id="mesMises">
                            <label for="mesMises">mes mises</label>
                        </div>
                    </section>
                </form>
            </aside>                  
        </div>

        <!-- flow-lot -->
        <section class="flow-lot">

            <!-- card-lots -->
            {% for enchere in encheres %}

            <article class="card-lot {{ enchere.favori  or enchere.meneur ? "tag favori" : ""}}" data-js-stamp data-js-membre="{{ enchere.membre_id }}">
                <div>
                {% if enchere.meneur %}
                    <div class="meneur">
                        <p>meneur 👑</p>
                    </div>
                {% endif %}
                {% if enchere.favori %}
                    <div class="favori">
                        <p>favori 💕</p>
                    </div>
                {% endif %}
                </div>

                <section>

                    <div>
                        <header>
                            <p>Lot {{ enchere.id }} : {{ enchere.nom_enchere }}</p>
                            <a href="{{ path }}enchere/show?id={{ enchere.id }}" data-js-id="{{ enchere.id }}"><h3>{{ enchere.timbre.nom_timbre }}</h3></a>
                            <strong>{{ enchere.timbre.date_creation }} - {{ enchere.timbre.pays_origine }}</strong>
                        </header>
                        <div>
                            <p>{{ enchere.description }}</p>
                        </div>
                    </div>
                    <div>
                        <p>condition: <strong>{{ enchere.timbre.condition.condition}}</strong></p>
                        <p>étampé: <strong>{{ enchere.timbre.certifie ? 'oui' : 'non'}}</strong></p>
                        <a class="button-text var-neutralL" href="{{ path }}enchere/show?id={{ enchere.id }}">voir plus</a>
                        <button class="button-text var-neutralL">vendeur</button>
                        <span>👁 345</span>
                        <span><img src="./assets/shapes/mise.svg" alt="mise" title="nombre de mises" loading="lazy">{{ enchere.nbr_mise }}</span>
                    </div>
                    <div>
                        <img src="{{ path }}assets/img/public/{{ enchere.image_princ.image_link }}"data-js-image>
                    </div>
                </section>
                <section>
                    <div>
                        <div>
                            <button class="button-icon bell light" aria-label="alert-button"><picture><img src="./assets/icons/bell.svg" alt="" loading="lazy"></picture></button>

                            <!-- button favori -->

                            <a 
                            
                            {% if enchere.favori %}
                                href="{{ path }}favori/deleteFavorite?enchereId={{ enchere.id }}" 
                            {% else %}
                                href="{{ path }}favori/addFavorite?enchereId={{ enchere.id }}" 
                            {% endif %}
                            class="button-icon heart light {{ enchere.favori ? "active" : ""}}" 
                            aria-label="like-button">
                                <picture><img src="./assets/icons/heart.svg" alt="" loading="lazy"></picture>
                            </a>

                            <button class="button-icon light" aria-label="star-button"><picture><img src="./assets/icons/star.svg" alt="" loading="lazy"></picture></button>
                        </div>
                        {% if enchere.status == "a_venir" %}
                            <button class="button-miser.block var-blue">
                                À venir
                            </button>
                        {% else %}
                            <button class="button-miser" data-js-miser
                            data-js-membre="{{ enchere.membre_id }}"  
                            data-js-id="{{ enchere.id }}"  
                            data-js-mise="{{ enchere.max_mise }}" 
                            {{ enchere.meneur ? "data-js-meneur" : ""}}>
                                miser
                            </button>
                        {% endif %}
                        
                    </div>
                    <div>
                        <div>
                            <table>
                                <caption>
                                    {{ enchere.status == "en_cours" ? "termine dans" : "commence dans" }}
                                </caption>
                                <thead>
                                    <tr>
                                        <td><strong>{{ enchere.date_diff.d }}/</strong></td>
                                        <td>{{ enchere.date_diff.h }}:</td>
                                        <td>{{ enchere.date_diff.i }}</td>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>j</td>
                                    <td>h</td>
                                    <td>m</td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <p>mise courante</p>
                            <div class="tag-prix" data-js-mise="{{ enchere.max_mise }}">{{ enchere.max_mise }}<span>$</span></div>
                        </div>
                    </div>
                </section>
            </article>
            
            {% endfor %}


        </section>
        
    </div>

    <!-- bouton pour charger plus d'enchères  -->
    <button class="button-text var-main var-lrg">voir plus</button>

</section>

<!-- section bas de page -->
<div>
    <section>
        <article class="card-join">
            <header>
                <h2>Joignez vous au club!</h2>
                <p>Être membre du club Stampee donne un accès privilégiés sur les enchères et plus encore!</p>
                <a href="#" class="button-text var-lrg">Joindre</a>
            </header>
            <picture>
                <img src="./assets/shapes/postal-stamp.svg" alt="postal stamp" loading="lazy">
            </picture>
        </article>
        <article>
            <div>
                <h3>Vous ne trouvez pas ce que vous cherchez?</h3>
                <p>faites une <a href="#">Recherche</a></p>
            </div>
            <div>
                <h3>Vous voulez en savoir plus sur la philatélie?</h3>
                <p>visitez notre page <a href="#">Actualités</a></p>
            </div>
            <div>
                <h3>Vous désirez en apprendre plus sur le fondateur?</h3>
                <p>lisez la bio de <a href="#">Lord Stampee</a></p>
            </div>
        </article>
    </section>
</div>

<!-- footer -->
<footer>
    <div>
        <section>
            <h3>Contactez-nous</h3>
            <p>Adresse: <span>28 rue de l'étampe, Min., USA, 1W3SD3</span></p>
            <p>Téléphone: <span>1-544-432-4222</span></p>
            <p>Email: <span>contact@lordstampee.com</span></p>
        </section>
        <section>
            <h3>Suivez-nous</h3>
            <div>
                <a href="#" target="_blank"><img src="./assets/icons/external/facebook.svg" alt="facebook-icon" loading="lazy"></a>
                <a href="#" target="_blank"><img src="./assets/icons/external/x.svg" alt="x-icon" loading="lazy"></a>
                <a href="#" target="_blank"><img src="./assets/icons/external/instagram.svg" alt="instagram-icon" loading="lazy"></a>
                <a href="#" target="_blank"><img src="./assets/icons/external/threads.svg" alt="threads-icon" loading="lazy"></a>
                <a href="#" target="_blank"><img src="./assets/icons/external/tiktok.svg" alt="tiktok-icon" loading="lazy"></a>
                <a href="#" target="_blank"><img src="./assets/icons/external/courrier.svg" alt="courrier-icon" loading="lazy"></a>
            </div>
        </section>
        <section>
            <h3>Merci à</h3>
            <img src="./assets/icons/external/maisonneuve.svg" alt="maisonneuve-icon" loading="lazy">
            <img src="./assets/icons/external/rquebec.svg" alt="rquebec-icon" loading="lazy">
        </section>
    </div>

</footer>
</main>