
main>footer{
    background-color: var(--colorDark);
    color: var(--colorLight);
}
main>footer>div{
    display: flex;
    flex-flow: row wrap;
    gap: var(--gapl);
    justify-content: space-between;
    margin: auto;
    max-width: 1400px;
    padding: var(--gapl);
}
main>footer section{
    flex: 0 0 300px;
}
main>footer section img{
    width: 100%;
}
main>footer section span{
    font-size: var(--fontxxs);
    font-style: italic;
}
main>footer section:nth-of-type(2){
    flex: 0 0 150px;
}
main>footer section:nth-of-type(2)>div{
    display: grid;
    gap: var(--gapxs);
    grid-template-columns: repeat(3, 30px);
}
main>footer section:last-of-type img{
    height: 50px;
    width: max-content;
}
main>footer section:last-of-type img:last-of-type{
    height: 70px;
    width: max-content;
}

/* ryhtme */
main>footer section>*+*{
    margin-top: var(--gapxs);
}